<div class="container">

  <header>
    <h1>Links Index</h1>
  </header>

  <section class="create-link">
    <form class="new-link">
      <div class="new-link-field">
        <label class="new-link-label">Title</label>
        <input type="text" class="new-link-title new-link-input" name="link[title]" placeholder="Link Title">
      </div>
      <div class="new-link-field">
        <label class="new-link-label">URL</label>
        <input type="text" class="new-link-url new-link-input" name="link[url]" placeholder="Link URL">
      </div>
      <div class="new-link-messages"></div>
      <input type="submit" class="new-link-submit" value="Submit Link">
    </form>
  </section>

  <section class="links"></section>

</div>
