<div class="container">

<header>
  <h1>Links Index</h1>
</header>

<section class="create-links">
  <form class="new-links">
    <div class="new-links-field">
      <label class="new-links-label">Title</label>
      <input type="text" class="new-links-title new-links-input" name="link[title]" placeholder="Link Title">
    </div>
    <div class="new-thought-field">
      <label class="new-thought-label">URL</label>
      <input type="text" class="new-link-body new-link-input" name="link[url]" placeholder="Link URL">
    </div>
    <div class="new-link-messages"></div>
    <input type="submit" class="new-link-submit" value="Submit Link">
  </form>
</section>

<section class="links"></section>

</div>
