<div class="container">

  <header>
    <h1>Links Index</h1>
  </header>

  <div class='search-links'>
    <form id='live-search' action='' class='styled' method='post'>
      <fieldset>
        <label class="search-link">Search Links</label>
        <input type='text' class='text-input' id='filter' value-''>
      </fieldset>
    </form>
    <br>
  </div>


  <section class="sort-link pull-right">
    <button class="read-link">Read</button>
    <button class="unread-link">Unread</button>
    <button class="sort-abc-link">ABC</button>
  </section><br><br>

  <section class="create-link">
    <form class="new-link">
      <div class="new-link-field">
        <label class="new-link-label">Title</label>
        <input type="text" class="new-link-title new-link-input" name="link[title]" placeholder="Link Title">
      </div>
      <div class="new-link-field">
        <label class="new-link-label">URL</label>
        <input type="text" class="new-link-url new-link-input" name="link[url]" placeholder="Link URL">
      </div>
      <div class="new-link-messages"></div>
      <input type="submit" class="new-link-submit" value="Submit Link">
    </form>
  </section>

  <section class="links"></section>

</div>
